h3:first-of-type {
  text-align: center;
  font-size: 1.6rem;
}

#container {
  background-color: white;
  margin-left: 22rem;
  margin-right: 22rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
  padding: 1rem 5rem 5rem;
}

h2 {
  text-align: center;
}

img {
  margin-top: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}

td, th {
  text-align: left;
  padding: 1.3rem;
}

#container a {
  color: #58657C;
}

#container a:hover {
  transition: .5s;
  color: #B8DBD9;
}
