table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 1.3rem;
}

tr:nth-child(even){
  background-color: #747274;
    color: white;
}

button {
  cursor: pointer;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  border: none;
  background-color: #666053;
  color: white;
  font-family: cairo;
}
