* {
  box-sizing: border-box;
}

/*logged in css*/
#header {
  font-size: 2rem;
  margin-top: 5rem;
}

#centered {
  text-align: center;
}

#centered a {
  color: #2f4550;
}

#centered a:hover {
  color: #b8dbd9;
  transition: .5s;
}

#container {
  margin-bottom: 10rem;
}

.row-container {
  margin-top: 3rem;
  background-color: #2f4550;
  margin-right: 20rem;
  margin-left: 20rem;
  padding: 3rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div h4{
  color: white;
  opacity: 0.3;
}

div h2 {
  margin-top: -1rem;
  color: white;
}

div .column {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  float: left;
  width: 33.33%;
}

div .left {
  width: 33.33%;
}

div .mid {
  width: 33.33%;
}

div .right {
  width: 33.33%;
  color: black;
}

div .l {
  font-size: 1.3rem;
}

div .r {
  float: right;
}

div .r a {
  font-size: 1.1rem;
  color: #2f4550;
  text-decoration: none;
  padding: .5rem 2.8rem;
  background-color: white;
  border-radius: 5px;
}

.row:last-child{
  margin-bottom: 4rem;
}
