#centered {
  margin-top: 2rem;
  padding: 5rem;
  text-align: center;
}

#centered h2 {
  color: white;
  font-size: 2rem;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;
}

td,th {
  padding: .5rem;
}

th {
  color: white;
  background-color: #747274;
  font-size: 1.1rem;
  padding: 1rem;
}

td {
  font-size: 1.1rem;
}

table td a {
  color: red;
}

#addclass a {
  color: white;
  font-size: 1.1rem;
}
