/*not logged In css*/

#error {
  text-align: center;
  background-color: #b8dbd9;
  margin: 10rem 30rem;
  padding: 3rem;
}

#error h2 {
  margin-bottom: 2.5rem;
  color: black;
}

#error a {
  display: block;
  color: #586f7c;
}

#error a:first-of-type {
  margin-bottom: 1rem;
}

#error a:hover {
  color: #b8dbd9;
  transition: .5s;
}
