body {
  font-family: cairo, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b9b7a7;
  width: 100%;
  height: 100%;
}

/*website header/logo */
h1:first-of-type {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: #666053;
  margin: 0;
  font-family: unica one;
}

/*navbar position & styling*/
nav ul {
  float: left;
  margin: 0;
  padding: 0;
  background-color: #b5aa9d;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.5);
}

nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

/*navbar links*/
nav ul li a{
  padding: 1rem 2rem;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline white;
}