.row img {
  width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:first-of-type {
  background-color: #9aa090;
}

div .column {
  float: left;
  width: 50%;
}

div .r {
  float: right;
  color: white;
}

header h2 {
  font-size: 3.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  font-family: unica one;
}

.l p {
  font-size: 1.1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
  margin-top: 2rem;
}

#centered {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  
}

.l a {
  color: black;
  cursor: pointer;
}

.row:last-of-type {
  background-color: #7c90a0;
}

.row:last-of-type .r h2 {
  font-family: unica one;
  font-size: 2rem;
  text-align: center;
}

.row .r p {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1144px) {
  header h2 {
    font-size: 1.6rem;
  }
  
  .l p, #centered {
    font-size: .9rem;
  }
  
  .row:last-of-type .r p {
    font-size: .75rem;
  }
  
  .row:last-of-type .r h2 {
    font-size: 1.5rem;
  }
  
}

@media only screen and (min-width: 1920px) {
  .l p, #centered {
    font-size: 1.6rem;
  } 
  
  .row:last-of-type .r p {
    font-size: 1.6rem;
  }
  
  .row:last-of-type .r h2 {
    font-size: 3rem;
  }
  
}
