body {
  background-color: white;
  
}

header img {
  width: 100%;
}

header {
  position: relative;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div .column {
  float: left;
  width: 50%;
}

div .r {
  float: right;
}

.r h2 {
  font-size: 1.7rem;
  text-align: center;
  color: black;
}

.row {
  padding-bottom: 1rem;
}
