h2 {
  margin-top: 10rem;
  text-align: center;
  color: white;
}

form {
  margin-bottom: 2rem;
  background-color: #747274;
  color: white;
  padding: 3rem;
  width: 600px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
}

select{
  margin-bottom: 1rem;
}

select, input {
  padding: .3rem;
}

button {
  border: none;
  text-decoration: none;
  padding: .4rem 1rem;
  background-color: #666053;
  color: white;
  cursor: pointer;
  font-family: cairo;
}

#centered {
  text-align: center;
}

#centered  a {
  color: white;
}
