h2 {
  margin-top: 10rem;
  text-align: center;
}

form {
  margin-bottom: 2rem;
  background-color: white;
  padding: 3rem;
  width: 600px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
}

select{
  margin-bottom: 1rem;
}

button {
  margin-left: 1rem;
  border: none;
  text-decoration: none;
  padding: .4rem 1rem;
  background-color: #58657C;
  color: white;
  cursor: pointer;
}

#centered {
  text-align: center;
}

#centered  a {
  color: #2f4550;
}

#centered a:hover {
  transition: .5s;
  color: #B8DBD9;
}