#successful {
  text-align: center;
  background-color: white;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10rem;
}

#successful h2 {
  margin-bottom: 3rem;
}

#successful a {
  text-decoration: none;
  color: white;
  background-color: #2f4550;
  padding: 1rem 2rem;
}

#successful a:hover {
  background-color: #B8DBD9;
  transition: .5s;
}

#error {
  text-align: center;
  margin-top: 8rem;
}

#error h2 {
  font-size: 1.5rem;
}
