table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #2f4550;
  text-align: left;
  padding: 1.3rem;
}

button {
  float: right;
  margin-top: 2rem;
  margin-right: 5rem;
  cursor: pointer;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  border: none;
  background-color: #2f4550;
  color: white;
}
