h2:first-of-type {
  text-align: center;
  margin-top: 8rem;
  font-size: 1.8rem;
  color: white;
}

#container {
  background-color: #747274;
  color: white;
  margin-left: 22rem;
  margin-right: 22rem;
  margin-bottom: 10rem;
  padding: 1rem 5rem 5rem;
}

img {
  margin-top: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 1.3rem;
}

button {
  margin-top: 2rem;
  cursor: pointer;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  border: none;
  background-color: #4e5166;
  color: white;
  font-family: cairo;
}
